* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.parent-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px 0 10px;
}

.board-and-add-container {
  display: flex;
  flex-direction: row;
  gap: 7%;
  padding: 0 30px;
  justify-content: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.scoreheading-and-referesh-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.scoreboard {
  width: 100%;
  border: 2px solid black;
  line-height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.score {
  padding: 0 5px;
  border-bottom: 1px solid rgb(116, 243, 243);
}

.score:nth-child(even) {
  background-color: rgb(170, 169, 169);
}

.score:nth-last-child(1) {
  border: none;
}

.add-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  padding: 10px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid blue;
}

button {
  background-color: rgb(230, 215, 225);
  border: 1px solid grey;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
